<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
        <div class="container">
            <div class="navbar-nav">

                <a class="nav-link" asp-controller="Order" asp-action="Index">
                    View All Orders
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    @RenderBody()
</div>
